<!DOCTYPE html>
<html lang="en">
<head th:fragment="fragment-header" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Thymeleaf Fragment</title>

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="BS">
    <meta property="og:title" content="Shop easily when ever you want">
    <meta property="og:description" content="Shopping mall coding / More than 50 million people use Shopping mall website to buy the product that they want and need.">
    <meta property="og:image" content="img.favicon.png">

    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="BS">
    <meta property="twitter:title" content="Shop easily when ever you want">
    <meta property="twitter:description" content="hopping mall coding / More than 50 million people use Shopping mall website to buy the product that they want and need.">
    <meta property="twitter:image" content="img/favicon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/navbar.js"></script>
    <link href="css/home.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" href="img/favicon.png">
    <!-- smart phone에 적용되는 사진 -->
    <link rel="apple-touch-icon" href="img/favicon.png">


</head>
</html>