<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-navbar">
    <link href="css/navbar.css" rel="stylesheet">

    <header class="section">
        <div class="inner clearfix">

            <div class="menu-group float--left">
                <div class="logo">
                    <a href="/">BS</a>
                </div>
            </div>

            <div class="sign-group float--right">
                <div class="btn-group">
                    <a href="/login" class="btn sign-in">로그인</a>
                    <a href="/join" class="btn sign-up">회원가입</a>
                </div>

                <form action="" method="post" id="search-form">
                    <input type="text" id="search" class="input--text" autocomplete="on" placeholder="최저가를 검색해보세요">
                    <input type="submit" value="검색">
                </form>

                <div class="sub-menu">
                    <a href="/cart">cart</a>
                </div>
            </div>
        </div>
    </header>
</div>
</html>