<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-navbar">
    <link href="css/navbar.css" rel="stylesheet">
    <nav class="header">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="img/favicon.png" alt="logo"></a>
            </div>

            <div class="container-right">
                <form class="search" onsubmit="return false;">
                    <input class="search-bar" type="search" name="search-bar" placeholder="검색어를 입력하세요" autocomplete="on">
                    <button class="search_btn" type="submit">검색</button>
                </form>

                <div class="login">
                    <a href="templates/login.html">
                        <button type="button" class="login-btn">로그인</button>
                    </a>
                </div>

                <div class="cart">
                    <a href="templates/cart.html"><img
                            src="https://c0.klipartz.com/pngpicture/81/559/gratis-png-carro-de-la-compra-software-iconos-de-computadora-carro-de-compras.png"
                            alt="cart"></a>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>