body {
    padding: 0;
    margin: 0;
    /*display: inline;*/
}

.header {
    background: #d9d023;
    justify-content: center;
}

.container {
    display: inline-flex;
    width: 85%;
    margin: auto;
}

.logo {
    display: flex;
    margin: 40px 10px 0px 10px;
    justify-content: flex-start;
}

.logo img {
    width: 10%
}

.container-right {
    display: inline-flex;
    justify-content: space-around;

}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}
.search-bar {
    padding: 8px;
    width: 20%;
    transition: 1s;
}

.search-bar:focus {
    width: 25%;
}

.search-btn {
    border-radius: 10px;
    background-color: #48b818;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button {
    background-color: #fff;
    color: white;
    width: 13%;
    height: 10%;
    border-radius: 10px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart img {
    width: 10%;
}
/*.clearfix::after{*/
/*    display: block;*/
/*    clear: both;*/
/*    content: "";*/
/*}*/