body{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    background: #f2f2f2;
    box-sizing: border-box;
}
.logo{
    width: 150px;
    margin: 40px 10px 0px 10px;
}
.search{
    margin-top: 17px;
    text-align: center;
    top: 30px;
    box-sizing: border-box;
}
.search .search-bar{
    padding: 8px;
    width: 200px;
    transition: 1s;
}
.search:focus{
    width: 300px;
}
.cart{
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 300px;
}

.cart-img{
    width: 100px;
    position: relative;
    left: 950px;
}