<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/cart.css">
    <title>Cart</title>
    <!--    Boostrap   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div th:replace="fragments/navbar.html :: fragment-navbar"></div>
<div class="content">
    <div class="clearfix" th:each="item, index: ${itemList}">
        <div class="product">
            <input type="hidden" th:id="price_+${index.index}" th:value="${item.getPrice()}">
            <input type="hidden" th:id="itemId_+${index.index}" th:value="${item.getId()}">
            <img class="cartImg" th:src="${item.getImageUrl()}" alt="cartImg">
            <h5 class="cartItemName" th:text="${item.getName()}"></h5>
            <h5 class="cartItemPrice" th:text="${item.getPrice()}"></h5>
            <input type="text" value="1" class="quantity" th:id="quantity_+${index.index}" onkeyup="setTotalPrice()">
        </div>
    </div>
</div>

<br>
<div class="list-group">
    <!--    <a class="list-group-item list-group-item-action">-->
    <!--        <div class="d-flex w-100 justify-content-between">-->
    <!--            <h5 class="mb-1">배송비</h5>-->
    <!--            <small class="text-muted" th:text="">###원</small>-->
    <!--        </div>-->
    <!--    </a>-->
    <a class="list-group-item list-group-item-action active" aria-current="true">
        <h5 class="mb-1">결제 예정 금액</h5>
        <small id="display">###원</small>
    </a>
</div>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-warning" id="btn_buy" type="button">결제하기</button>
</div>
<br>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
        crossorigin="anonymous"></script>
-->
</body>
</html>