<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cart.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Product History</title>
</head>


<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="content" th:object="${order}"></div>
<div th:replace="fragments/navbar.html :: fragment-navbar"></div>

<!---->
<div class="content">
    <div class="clearfix" >
        <div class="product">
            <h4 style="margin-top: 10px;">주문날짜 : </h4>
            <h5 class="cartItemPrice" th:text="${order.getOrderDate()}" ></h5>
            <h4 >주문 상품</h4>
            <div class="cartItemName clearfix" th:each="orderItem: ${order.getOrderItem()}" >
                <img class="cartImg" th:src="${orderItem.getItem().getImageUrl()}">
                <h5 th:text="${orderItem.getItem().getName()}"></h5>
                <h5 th:text="${orderItem.getItem().getPrice()}"></h5>
            </div>
            <h4 >총 구매 개수</h4>
            <h5 class="cartItemPrice" th:text="${order.getTotalCount()}"></h5>
            <h4>총 가격</h4>
            <h5 class="cartItemPrice" th:text="${order.getTotalPrice()}"></h5>
        </div>
    </div>
</div>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/productDetail.js"></script>
    <script src="js/cart.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>

</div>
</body>
</html>