<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div th:replace="fragments/navbar.html :: fragment-navbar"></div>

<h2 class="title">핫 딜</h2>
<div class="start-banner">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <a href="/productDetail?id=10">
                <img src="http://img1.tmon.kr/cdn3/deals/2021/05/26/4285121938/original_4285121938_front_1c990_1621998383production.jpg"
                     style="width:100%">
            </a>
            <div class="text">쫀쫀한 양말 9켤레 9900원</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <a href="productDetail?id=11">
                <img src="http://th2.tmon.kr/thumbs/image/9cb/e39/e13/0115da836_700x700_95_FIT.jpg" style="width:100%">
            </a>
            <div class="text">미네마인 특가 9900원</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <a href="productDetail.html">
                <img src="http://th2.tmon.kr/thumbs/image/2ca/156/594/ae4325db5_700x700_95_FIT.jpg"
                     style="width: 100%">
            </a>
            <div class="text">유명 감자빵 신제품 출시 특가 8개 15900원</div>
        </div>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>
<script src="js/home.js"></script>

<div>
    <h2 class="title">오늘의 인기 상품</h2>
    <table>
        <tr>
            <td>
                <a href="productDetail.html">
                    <img class="hot-item" src="http://th1.tmon.kr/thumbs/image/898/b6b/350/254d1abbd_700x700_95_FIT.jpg"
                         alt="today-item1">
                    <h5>건강과 맛을 사로잡은 오클렌즈 주스</h5></a>
                <p>9900원~ /무료배송</p>
            </td>
            <td>
                <a href="productDetail.html">
                    <img class="hot-item"
                         src="http://img1.tmon.kr/cdn3/deals/2020/09/01/1132490382/1132490382_front_e0bc6f7fa8.jpg"
                         alt="today-item2">
                    <h5>눈 건강에 좋은 블루베리즙</h5></a>
                <p>균일가 19900원 /무료배송</p>
            </td>
            <td>
                <a href="productDetail.html">
                    <img class="hot-item" src="http://th2.tmon.kr/thumbs/image/0f5/0e3/fea/f1acb0785_700x700_95_FIT.jpg"
                         alt="today-item3">
                    <h5>미리 준비하는 여름 반팔 티 특가세일</h5></a>
                <p>균일가 6900원 /무료배송</p>
            </td>
        </tr>

        <tr>
            <td>
                <a href="productDetail.html">
                    <img class="hot-item" src="http://th2.tmon.kr/thumbs/image/2f7/c59/158/38a45eb25_700x700_95_FIT.jpg"
                         alt="today-item4">
                    <h5>제주 삼다수 500ml 40개</h5></a>
                <p>균일가 16900원 /무료배송</p>
            </td>
            <td>
                <a href="productDetail.html">
                    <img class="hot-item"
                         src="http://th3.tmon.kr/thumbs/image/d4e/789/7c4/4eabdc023_700x700_95_FIT.jpg"
                         alt="today-item5">
                    <h5>오리지널 닭가슴살 10+1</h5></a>
                <p>균일가 990원 /9900원 이상 무료배송</p>
            </td>
            <td>
                <a href="productDetail.html">
                    <img class="hot-item" src="http://th3.tmon.kr/thumbs/image/a27/9aa/4cc/684cee794_700x700_95_FIT.jpg"
                         alt="today-item6">
                    <h5>비비고 만두 할인전</h5></a>
                <p>균일가 5990원 /무료배송</p>
            </td>
        </tr>

        <tr>
            <td>
                <a href="productDetail.html">
                    <img src="http://th3.tmon.kr/thumbs/image/343/8c2/f79/42fce9d1e_700x700_95_FIT.jpg"
                         alt="today-item7">
                    <h5>뽀로로 까실한 여름 이불 모음전</h5></a>
                <p>12900원~ /무료배송</p>
            </td>
            <td>
                <a href="productDetail.html">
                    <img src="http://th1.tmon.kr/thumbs/image/261/705/516/112af3fe9_700x700_95_FIT.jpg"
                         alt="today-item8">
                    <h5>인기 라면 모음전</h5></a>
                <p>12900원~ /무료배송</p>
            </td>
            <td>
                <a href="productDetail.html">
                    <img src="http://img4.tmon.kr/cdn3/deals/2020/05/15/281558825/original_281558825_front_4fa42_1589512756production.jpg"
                         alt="today-item9">
                    <h5>국산 김치 모음전</h5></a>
                <p>9900원~ /무료배송</p>
            </td>
        </tr>
    </table>
    <br>
</div>


<footer>
    <address></address>
</footer>
</body>
</html>