<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div th:replace="fragments/navbar.html :: fragment-navbar"></div>

<div>
    <form th:action="@{/login}" method="post" class="login-form">
        <input type="text" name="email" placeholder="아이디(이메일)를 입력하세요">
        <input type="password" name="password" placeholder="password">
        <button type="submit">로그인</button>
    </form>

    <div id="joinUrl">
        <a th:href="@{/join}"><span>회원가입</span></a>
    </div>

</div>
</body>
</html>